<div class="container text-center my-3">
    <h1><strong>Cliente {{data.empresa}}</strong></h1>
    <div class="form-group row">
        <label for="albaran" class="col-form-label col-4 text-start">Cargar entrega</label>
        <div class="col-8">
            <input type="text" class="form-control" id="albaran" name="albaran" value="{{data.ae}}" disabled>
        </div>
        <label for="albaran" class="col-form-label col-4 text-start">Etiqueta</label>
        <div class="col-8">
            <input type="text" class="form-control" id="etiqueta" name="etiqueta"
                placeholder="Código de barras del bulto o palet">
        </div>
    </div>
    <br>
    <div class="btn-group d-flex" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="cargar" autocomplete="off" checked>
        <label style="width: 50%;" class="btn btn-outline-primary" for="cargar"><strong>CARGAR</strong></label>
        <input type="radio" class="btn-check" name="btnradio" id="descargar" autocomplete="off">
        <label style="width: 50%;" class="btn btn-outline-primary" for="descargar"><strong>DESCARGAR</strong></label>
    </div>
    <hr>
    <div class="progress">
        <div id="barra" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
    </div>
    <div id="alert"></div>

    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered d-flex justify-content-center">
            <div class="alert alert-danger">
                <strong>Error!</strong> Esta carga NO es de este pedido!!!
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
        </div>
    </div>
    <div class="d-inline-flex align-items-center" id="finish">
    </div>
    <div id="cargas">
        {{#each data.lecturas}}
        {{#if NroDS}}
        <button type="button" id="{{Descripcion}}" class="btn btn-success btn-lg m-1 up">{{Descripcion2}}</button>
        {{else}}
        <button type="button" id="{{Descripcion}}" class="btn btn-outline-danger btn-lg m-1 down">{{Descripcion2}}</button>
        {{/if}}
        {{/each}}
    </div>

    <footer class="fixed-bottom m-2">
        <div class="d-grid gap-2">
            <a href="albaran" class="btn btn-primary" role="button">Cargar otra entrega</a>
        </div>
    </footer>


</div>
<script src="../javascripts/cargas.js"></script>